fastapi
uvicorn
selenium
bs4
requests
gunicorn
redis
aioredis
python-dotenv
asyncio
python-multipart
itsdangerous
starlette>=0.14.0
pytest
pytest-mock
pytest-cov
pytest-asyncio
httpx
fakeredis
cryptography==41.0.7
pydantic
ruff==0.1.6
pre-commit==3.5.0
