fastapi
uvicorn
selenium
bs4
requests
python-telegram-bot
flask
flask_session
flask-session
gunicorn
redis
aioredis
python-dotenv
asyncio
python-multipart
itsdangerous
starlette>=0.14.0
pytest
pytest-mock
pytest-cov
pytest-asyncio
httpx
fakeredis