fastapi
uvicorn
selenium
webdriver-manager
bs4
requests
gunicorn
redis
python-dotenv
python-multipart
itsdangerous
starlette>=0.14.0
pytest
pytest-mock
pytest-cov
pytest-asyncio
httpx
fakeredis
cryptography==41.0.7
pydantic
ruff
pre-commit==3.5.0
