{% extends "base.html" %}

{% block content %}

    <div id="status-message" class="d-flex flex-column align-items-center justify-content-center h-100 text-center">
        <div class="offline-status-container">
            <div class="offline-icon-container mb-4">
                <i class="bi bi-calendar-check"></i>
            </div>
            <h3 class="text-primary">NTU Add-Drop is currently offline</h3>
            <div class="countdown-container mt-4">
                <p class="countdown-text">Next Add-Drop period:</p>
                <div class="date-badge">
                    <span class="month">{{ eligible_month }}</span>
                    <span class="year">{{ eligible_year }}</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}